.main {
  margin: auto;
  max-width: 50rem;
}

.main h1 {
   padding:0 0.75rem;
 }

.mainImage {
  width: 100%;
}

.body {
  padding: 0 1rem;
}

.body p {
  font-size: medium;
  text-indent: 50px;
  line-height: 30px;
  text-align: justify;
}

.postDetails {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.postDetails img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 5px;
}

.postDetails p {
  text-indent: 5px;
}

.comments form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 10px;
}

.block {
  margin-bottom: 5px;
}

.closingDiv {
  margin: 0 1rem;
}
